body {
  font-family: 'Courier New', monospace !important;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ama-guest-name {
  font-size: 1.4em !important; 
  font-weight: 900;
}

.ama-desc {
  color: gray;
}


.btn-outline-primary {
  border-color: #6320EE !important;
  color: #6320EE !important;
}

.btn-primary {
  border-color: #6320EE !important;
  background-color: #6320EE !important;
  color: white;
}

.btn-success, .swal-button--confirm {
  border-color: #198754 !important;
  background-color: #198754 !important;
  color: white !important;
}

.bg-success {
  background-color: #78e08f !important;
}

.btn-danger {
  border-color: #B9314F !important;
  background-color: #B9314F !important;
  color: white !important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active {
  background-color: #6320EE !important;
  border-color: #6320EE !important;
  color: white !important;
}

code {
  color: #a179f4 !important;
}

.modal-field {
  width: 100%;
}